body {
    max-width: 800px ;
    margin: 24px auto ;
}

img {
    float: left;
}
header > nav {
    float: right;
}

article {
    float: left;
    max-width: 700px;
}

* {
    margin: 0;
}

p {
    background-color: lightskyblue;
}

element.style {
    display: inline-block;
}

main::after {
    content: "";
    clear: both;
    display:block;
}
